services:
  # MySQL Database
  mysql_db:
    image: mysql:8.0
    container_name: mysql_server
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    command: [
      "--default-authentication-plugin=mysql_native_password",
      "--character-set-server=utf8mb4",
      "--collation-server=utf8mb4_unicode_ci"
    ]
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  # ChromaDB
  chroma_db:
    image: chromadb/chroma:1.0.21
    container_name: chromadb_server
    restart: unless-stopped
    ports:
      - "8001:8000"
    volumes:
      - ./data/chroma:/chroma/chroma
    networks:
      - app-network

  # Django Web
  web:
    build: .
    container_name: petpal_web
    working_dir: /app
    command: >
      sh -c "
      python -m pip install --no-cache-dir -r requirements.txt &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/app
      - ./data/staticfiles:/app/staticfiles
      - ./data/media:/app/media
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - mysql_db
      - chroma_db
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
